<mat-card class="card">
    <app-load-card-header [load]="load"></app-load-card-header>
    <div class="dimmable-control">
        <p class="valueText">{{ sliderValue }}%</p>
        <mat-slider
            min="0"
            max="100"
            step="1"
            [value]="sliderValue"
            (change)="onSliderChange($event)"
            (input)="onSliderChange($event)"
        ></mat-slider>
        <mat-slide-toggle
            (toggleChange)="onToggleChange()"
            [checked]="powerState"
        ></mat-slide-toggle>
    </div>
</mat-card>
