.dimmable-load {
    margin: 10px;
    width: 300px;
}

.card {
    height: 150px;
}

mat-slider {
    margin: 10px;
}

.mat-slider-horizontal {
    width: 300px;
}

.mat-slider-vertical {
    height: 300px;
}

.dimmable-control {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.valueText {
    margin: 0px;
    font-weight: 500;
    font-size: large;
}
