.warning-header {
    background-color: rgb(255, 91, 91);
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.warning-header-text {
    font-weight: 800;
    font-size: large;
}
