<div class="action-create-wrapper">
    <p class="page-title">Create an Action For Your Scene</p>
    <form [formGroup]="roomDeviceGroup">
        <h3>Step 1: Select a device</h3>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a room</mat-label>
                <mat-select required formControlName="room">
                    <mat-option *ngFor="let room of room$ | async" [value]="room">
                        {{ room }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a device</mat-label>
                <mat-select required formControlName="device">
                    <mat-option *ngFor="let load of load$ | async" [value]="load">
                        {{ load.name }} ({{ load.type | uppercase }})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <div *ngIf="selectedLoad">
        <h3>
            Step 2: Select the action for
            {{ selectedLoad.name }} in {{ roomDeviceGroup.value.room.name }}
        </h3>
        <!-- <ng-container [ngSwitch]="load.type">
            <ng-container *ngSwitchCase="'dimmer'">
                <app-dimmer-action-form [sceneId]="scene" [load]="load"></app-dimmer-action-form>
            </ng-container>
            <ng-container *ngSwitchCase="'switch'">
                <app-switch-action-form [sceneId]="scene" [load]="load"></app-switch-action-form>
            </ng-container>
            <ng-container *ngSwitchCase="'motor'">
                <app-motor-action-form [sceneId]="scene" [load]="load"></app-motor-action-form>
            </ng-container>
        </ng-container> -->
    </div>
</div>
