<mat-card class="card">
    <app-load-card-header [load]="load"></app-load-card-header>
    <div class="motor-button-container">
        <button mat-mini-fab aria-label="Raise" color="primary">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Stop" color="primary">
            <mat-icon>stop</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Lower" color="primary">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</mat-card>
