<div class="light-control-panel-container">
    <div class="light-name-container">
        <div>
            <div class="light-name">{{ light.name }}</div>
            <div class="light-level-text">
                {{ levelText }}
            </div>
        </div>
        <app-slider-toggle
            [checked]="level > 0"
            (onChecked)="onToggleChange($event)"
        ></app-slider-toggle>
    </div>
    <app-slider
        class="light-control-slider"
        *ngIf="light.hasLevel"
        [value]="level"
        (onValueChanged)="onLevelChanged($event)"
        width="100%"
    ></app-slider>
</div>
<mat-divider></mat-divider>
