.light-control-panel-container {
    color: var(--text-color);
    background: var(--secondary-background-color);
    width: 85vw;
    padding: 2vh 2vw 2vh 2vw;
    border-radius: 0.5em;
    box-shadow: var(--button-shadow-color) 0px 3px 8px;

    .light-name-container {
        display: flex;
        justify-content: space-between;
        padding: 1vh 0vh 1vh 0vh;

        .light-name {
            font-size: 2vh;
            padding: 0.8vh;
            font-weight: 700;
        }

        .light-level-text {
            font-size: 1.5vh;
            font-weight: 400;
            padding: 0.8vh;
            color: grey;
        }
    }
}
