<div>
    <div class="page-title-container">
        <p class="page-title">{{ name }}</p>
    </div>
    <div class="device-container">
        <div *ngFor="let load of devices" [ngSwitch]="load.type">
            <app-dimmer-load
                [load]="load"
                *ngSwitchCase="DeviceType.Dimmer"
            ></app-dimmer-load>
            <app-switch-load
                [load]="load"
                *ngSwitchCase="DeviceType.Switch"
            ></app-switch-load>
            <app-motor-load
                [load]="load"
                *ngSwitchCase="DeviceType.Motor"
            ></app-motor-load>
            <app-av-device
                [load]="load"
                *ngSwitchCase="DeviceType.Av"
            ></app-av-device>
        </div>
    </div>
    <div>
        {{ deviceData }}
    </div>
</div>
