<mat-card class="room-card" (click)="navigateRoom()">
    <div class="w-100">
        <div
            class="flex-horizontal w-100 room-card-title-container"
            *ngIf="!editMode"
        >
            <mat-card-title class="room-card-title">{{
                room.name
            }}</mat-card-title>
            <mat-icon
                appClickStopPropagation
                (click)="editRoom()"
                class="edit-icon-button"
                >edit</mat-icon
            >
        </div>
        <form
            class="flex-horizontal edit-room-form"
            *ngIf="editMode"
            appClickStopPropagation
            (ngSubmit)="changeRoomName()"
        >
            <mat-form-field class="field">
                <input
                    matInput
                    placeholder="Name"
                    [formControl]="nameFormControl"
                />
            </mat-form-field>
            <button
                mat-button
                color="primary"
                type="submit"
                [disabled]="!nameFormControl.valid"
            >
                Change
            </button>
        </form>
    </div>
    <div>
        <mat-card-subtitle class="room-device-subtitle"
            >{{ count }} {{ 'room.device' | translate }}</mat-card-subtitle
        >
    </div>
</mat-card>
