<mat-card class="room-card" (click)="navigateRoom()">
    <div class="w-100">
        <div class="flex-horizontal w-100" *ngIf="!editMode">
            <mat-card-title
                style="
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 30px;
                    white-space: nowrap;
                "
                >{{ room.name }}</mat-card-title
            >
            <mat-icon appClickStopPropagation (click)="editRoom()"
                >edit</mat-icon
            >
        </div>
        <form
            class="flex-horizontal"
            *ngIf="editMode"
            appClickStopPropagation
            (ngSubmit)="changeRoomName()"
        >
            <mat-form-field class="field">
                <input
                    matInput
                    placeholder="Name"
                    [formControl]="nameFormControl"
                />
            </mat-form-field>
            <button
                mat-button
                color="primary"
                type="submit"
                [disabled]="!nameFormControl.valid"
            >
                Change
            </button>
        </form>
    </div>
    <div>
        <mat-card-subtitle
            >{{ count }} {{ 'room.device' | translate }}</mat-card-subtitle
        >
    </div>
</mat-card>
