<div class="dpad-wrapper" [style.height.px]="size" [style.width.px]="size">
    <div class="unused arrow-wrapper"></div>
    <div class="arrow-wrapper" (click)="onUpClick()">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_drop_up</mat-icon
        >
    </div>
    <div class="unused arrow-wrapper"></div>
    <div class="arrow-wrapper" (click)="onLeftClick()">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_left</mat-icon
        >
    </div>
    <div class="arrow-wrapper" (click)="onEnterClick()">
        <mat-icon [class.medium-icon]="size > 200" class="icon">login</mat-icon>
    </div>
    <div class="arrow-wrapper" (click)="onRightClick()">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_right</mat-icon
        >
    </div>
    <div class="unused arrow-wrapper"></div>
    <div class="arrow-wrapper" (click)="onDownClick()">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_drop_down</mat-icon
        >
    </div>
    <div class="unused arrow-wrapper"></div>
</div>
