<div
    class="dpad-wrapper"
    [style.height]="size + 'px'"
    [style.width]="size + 'px'"
>
    <div class="unused arrow-wrapper"></div>
    <div class="arrow-wrapper">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_drop_up</mat-icon
        >
    </div>
    <div class="unused arrow-wrapper"></div>
    <div class="arrow-wrapper">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_left</mat-icon
        >
    </div>
    <div class="arrow-wrapper">
        <mat-icon [class.medium-icon]="size > 200" class="icon">login</mat-icon>
    </div>
    <div class="arrow-wrapper">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_right</mat-icon
        >
    </div>
    <div class="unused arrow-wrapper"></div>
    <div class="arrow-wrapper">
        <mat-icon [class.medium-icon]="size > 200" class="icon"
            >arrow_drop_down</mat-icon
        >
    </div>
    <div class="unused arrow-wrapper"></div>
</div>
