<div class="settings-container">
    <div class="settings-option-container">
        <p>{{ 'settings.language' | translate }}</p>
        <p class="open-dialog-text" (click)="openLanguageSelectionDialog()">
            {{ currentLang.label }}
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-option-container">
        <p>{{ 'settings.darkMode' | translate }}</p>
        <mat-slide-toggle
            class="dark-mode-toggle"
            [checked]="darkModeEnabled"
            (change)="onThemeChanged($event)"
        ></mat-slide-toggle>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-option-container">
        <p>{{ 'settings.version' | translate }}</p>
        <p>{{ version }}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-option-container">
        <p>{{ 'settings.author' | translate }}</p>
        <p>Jonathan Chan</p>
    </div>
    <mat-divider></mat-divider>
</div>
