<div style="margin: 10px">
    <p class="page-title">Settings</p>
    <div>
        <h5>Language</h5>
        <mat-form-field appearance="fill">
            <mat-label>Language</mat-label>
            <mat-select required [formControl]="langFormControl">
                <mat-option value="en">English</mat-option>
                <mat-option value="zh">Chinese</mat-option>
                <mat-option value="jp">Japanese</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div>
        <h5>Cache</h5>
        <button mat-raised-button color="primary" (click)="clearCache()">
            Clear All Cache
        </button>
    </div>
</div>
