.switch-control-title {
    font-weight: 500;
}

.switch-control-wrapper {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    margin: 10px;
}

.power-state-text {
    margin: 0px;
}
