<h3 class="switch-control-title">{{ 'scene.power' | translate }}</h3>
<form (ngSubmit)="addScene()">
    <div class="switch-control-wrapper">
        <mat-slide-toggle
            (toggleChange)="onToggleChange()"
            [checked]="powerState"
        ></mat-slide-toggle>
        <p class="power-state-text">
            {{
                powerState
                    ? ('scene.on' | translate)
                    : ('scene.off' | translate)
            }}
        </p>
    </div>
    <div>
        <div>
            <button mat-raised-button type="submit" color="primary">
                {{ 'scene.save' | translate }}
            </button>
        </div>
    </div>
</form>
