<div class="root-container">
    <div class="app-header">
        <mat-toolbar>{{ 'header.title' | translate }} </mat-toolbar>
    </div>
    <div [ngSwitch]="route$ | async" class="main-container">
        <ng-container *ngSwitchCase="'room_panel'">
            <app-rooms-panel></app-rooms-panel>
        </ng-container>
        <ng-container *ngSwitchCase="'room_view'">
            <app-room-view></app-room-view>
        </ng-container>
        <ng-container *ngSwitchCase="'monitoring'">
            <app-monitoring></app-monitoring>
        </ng-container>
        <ng-container *ngSwitchCase="'setting'">
            <app-setting></app-setting>
        </ng-container>
        <ng-container *ngSwitchCase="'scene_table'">
            <app-scene-table></app-scene-table>
        </ng-container>
        <ng-container *ngSwitchCase="'scene_details'">
            <app-scene-details></app-scene-details>
        </ng-container>
        <ng-container *ngSwitchCase="'scene_action_create'">
            <app-scene-action-create></app-scene-action-create>
        </ng-container>
        <ng-container *ngSwitchDefault="">
            <app-rooms-panel></app-rooms-panel>
        </ng-container>
    </div>
    <div class="app-nav-bar">
        <app-nav-bar></app-nav-bar>
    </div>
</div>
