<div class="shade-control-panel-container">
    <div class="shade-info-container">
        <div class="shade-name">{{ shade.name }}</div>
        <div class="shade-level-text" *ngIf="shade.hasLevel">
            {{ levelText }}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="shade-control-button-group">
        <div class="text-button" (click)="open()">
            <p>{{ 'shade.open' | translate }}</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="icon-button-wrapper" (click)="incrementLevel()">
            <mat-icon svgIcon="custom:up_arrow"></mat-icon>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="icon-button-wrapper">
            <mat-icon svgIcon="custom:stop"></mat-icon>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="icon-button-wrapper" (click)="decrementLevel()">
            <mat-icon svgIcon="custom:down_arrow"></mat-icon>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="text-button" (click)="close()">
            <p>{{ 'shade.close' | translate }}</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
