<div class="shade-control-panel-container">
    <div class="shade-name">{{ shade.name }}</div>
    <div class="shade-control-button-group">
        <app-rounded-icon-button
            [isSvgIcon]="true"
            iconName="custom:left_arrow"
            size="3vh"
            (onClick)="decrementLevel()"
        ></app-rounded-icon-button>
        <app-rounded-icon-button
            [isSvgIcon]="true"
            iconName="custom:stop"
            size="3vh"
        ></app-rounded-icon-button>
        <app-rounded-icon-button
            [isSvgIcon]="true"
            iconName="custom:right_arrow"
            size="3vh"
            (onClick)="incrementLevel()"
        ></app-rounded-icon-button>
    </div>
    <div
        class="shade-control-slider-container"
        [class.hidden]="!shade.hasLevel"
    >
        <app-slider
            [width]="'60vw'"
            class="shade-control-slider"
            [value]="level"
            (onValueChanged)="sliderValueChanged($event)"
        ></app-slider>
        <div class="shade-level-text">
            <div>
                {{ levelText }}
            </div>
        </div>
    </div>
</div>
