<div class="shade-control-panel-container">
    <div class="shade-info-container">
        <div class="shade-name">{{ shade.name }}</div>
        <div class="shade-level-text" *ngIf="shade.hasLevel">
            {{ levelText }}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="shade-control-button-group">
        <div class="text-button">
            <p>Open</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-icon svgIcon="custom:up_arrow"></mat-icon>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-icon svgIcon="custom:stop"></mat-icon>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-icon svgIcon="custom:down_arrow"></mat-icon>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="text-button">
            <p>Close</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
