.shade-control-panel-container {
    color: var(--text-color);
    background: var(--secondary-background-color);
    width: 85vw;
    border-radius: 0.5em;
    box-shadow: var(--button-shadow-color) 0px 3px 8px;

    .shade-info-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vh 2vw 1vh 2vw;
        font-size: 2vh;

        .shade-name {
            padding: 0.8vh;
            font-weight: 700;
        }

        .shade-level-text {
            color: grey;
        }
    }

    .shade-control-button-group {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;

        .text-button {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            user-select: none;

            p {
                font-size: 1.8vh;
                margin: 0px;
            }
        }

        mat-icon {
            flex: 1;
            height: 3vh;
            width: 3vh;
            cursor: pointer;
            user-select: none;
        }

        mat-divider {
            height: 100%;
        }
    }
}
