<div class="wrapper">
    <div class="scene-table-header">
        <p class="page-title">{{ 'scene.scene' | translate }}</p>
        <button
            [matTooltip]="'scene.addScene' | translate"
            matTooltipPosition="left"
            matTooltipHideDelay="10000"
            mat-fab
            aria-label="Add Scene Button"
            (click)="addScene()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-list *ngFor="let scene of scenes$ | async">
        <mat-list-item class="scene-list-item">
            <h3 matLine>{{ scene.name }}</h3>
            <button
                mat-icon-button
                matTooltip="Activate Scene"
                matTooltipPosition="left"
                matTooltipHideDelay="10000"
                (click)="activateScene(scene)"
            >
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navigateToDetails(scene)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteScene(scene)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
