.wrapper {
    margin: 20px;
}

.scene-table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-container {
    padding-bottom: 16px;
}

.mat-row:hover .mat-cell {
    cursor: pointer;
}

.button-wrapper {
    margin-right: 10px;
}

.scene-name-cell {
    width: 80%;
    margin-right: 10px;
}

.scene-list-item {
    width: 100%;
}
