.wrapper {
    margin: 20px;
}
.table {
    width: 100%;
}

.button-container {
    padding-bottom: 16px;
}

.mat-row:hover .mat-cell {
    cursor: pointer;
}

.button-wrapper {
    margin-right: 10px;
}
