<form [formGroup]="formGroup" (ngSubmit)="addScene()">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'scene.actions' | translate }}</mat-label>
        <mat-select required formControlName="motorAction">
            <mat-option value="raise">{{
                'scene.raise' | translate
            }}</mat-option>
            <mat-option value="lower">{{
                'scene.lower' | translate
            }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!formGroup.valid"
        >
            {{ 'scene.save' | translate }}
        </button>
    </div>
</form>
