<div class="flex-horizontal w-100">
    <div class="w-100" *ngIf="!editMode">
        <div class="flex-horizontal">
            <div class="flex-horizontal">
                <div mat-card-avatar>
                    <mat-icon *ngIf="load.type == 'dimmer'" class="dimmer-icon"
                        >brightness_high</mat-icon
                    >
                    <mat-icon
                        *ngIf="load.type == 'switch'"
                        svgIcon="custom:switch"
                        class="switch-icon"
                    ></mat-icon>
                    <mat-icon
                        *ngIf="load.type == 'motor'"
                        svgIcon="custom:curtain"
                        class="motor-icon"
                    ></mat-icon>
                </div>
                <mat-card-title class="card-title">{{
                    load.name
                }}</mat-card-title>
            </div>
            <div>
                <mat-icon (click)="changeToEditMode()" class="edit-device-icon"
                    >edit</mat-icon
                >
            </div>
        </div>
        <mat-card-subtitle
            >{{ loadType | translate | uppercase }} (Integration ID:
            {{ load.id }})</mat-card-subtitle
        >
    </div>
    <form
        class="edit-device-form"
        *ngIf="editMode"
        (ngSubmit)="changeDeviceName()"
    >
        <mat-form-field class="field">
            <input
                matInput
                placeholder="Name"
                [formControl]="nameFormControl"
            />
        </mat-form-field>
        <button
            mat-button
            color="primary"
            type="submit"
            [disabled]="!nameFormControl.valid"
        >
            Change
        </button>
    </form>
</div>
