<div
    class="number-pad-container"
    [class.large-keypad]="size === 'large'"
    [class.medium-keypad]="size === 'medium'"
    [class.small-keypad]="size === 'small'"
>
    <div class="number-button">1</div>
    <div class="number-button">2</div>
    <div class="number-button">3</div>
    <div class="number-button">4</div>
    <div class="number-button">5</div>
    <div class="number-button">6</div>
    <div class="number-button">7</div>
    <div class="number-button">8</div>
    <div class="number-button">9</div>
    <div class="number-button">
        <div>*</div>
        <div class="second-number-text">.</div>
    </div>
    <div class="number-button">0</div>
    <div class="number-button">
        <div>#</div>
        <div class="second-number-text">-</div>
    </div>
</div>
