<div
    class="number-pad-container"
    [class.large-keypad]="size === 'large'"
    [class.medium-keypad]="size === 'medium'"
    [class.small-keypad]="size === 'small'"
>
    <div class="number-button" (click)="onKeypadClick('1')">1</div>
    <div class="number-button" (click)="onKeypadClick('2')">2</div>
    <div class="number-button" (click)="onKeypadClick('3')">3</div>
    <div class="number-button" (click)="onKeypadClick('4')">4</div>
    <div class="number-button" (click)="onKeypadClick('5')">5</div>
    <div class="number-button" (click)="onKeypadClick('6')">6</div>
    <div class="number-button" (click)="onKeypadClick('7')">7</div>
    <div class="number-button" (click)="onKeypadClick('8')">8</div>
    <div class="number-button" (click)="onKeypadClick('9')">9</div>
    <div class="number-button" (click)="onKeypadClick('*')">
        <div>*</div>
        <div class="second-number-text">.</div>
    </div>
    <div class="number-button" (click)="onKeypadClick('0')">0</div>
    <div class="number-button" (click)="onKeypadClick('#')">
        <div>#</div>
        <div class="second-number-text">-</div>
    </div>
</div>
