<div class="scene-table-wrapper">
    <div *ngIf="sceneId === undefined">
        <h2>This scene id does not exist</h2>
    </div>
    <div *ngIf="sceneId">
        <div class="scene-table-header">
            <div class="scene-table-title" *ngIf="!editMode">
                <p class="page-title edit-name-label scene-name-label">
                    {{ 'scene.scene' | translate }}: {{ name }}
                </p>
                <mat-icon (click)="changeToEditMode()">edit</mat-icon>
            </div>
            <form
                class="flex-horizontal"
                *ngIf="editMode"
                appClickStopPropagation
                (ngSubmit)="changeSceneName()"
            >
                <mat-form-field class="field">
                    <input
                        matInput
                        placeholder="Name"
                        [formControl]="nameFormControl"
                    />
                </mat-form-field>
                <button mat-button color="primary" type="submit">Change</button>
            </form>
            <button mat-button color="primary" (click)="navigateToSceneTable()">
                {{ 'scene.back' | translate }}
            </button>
        </div>
        <div class="add-button-wrapper">
            <button
                mat-button
                color="primary"
                (click)="navigateToActionCreate()"
            >
                <mat-icon>add</mat-icon>
                {{ 'scene.addAction' | translate }}
            </button>
        </div>

        <div>
            <mat-list *ngFor="let action of actions$ | async">
                <mat-list-item
                    class="scene-action-list-item"
                    *ngIf="action.device.type == 'dimmer'"
                >
                    <mat-icon mat-list-icon>brightness_high</mat-icon>
                    <div matLine class="scene-action-device-text">
                        {{ action.device.name }}
                    </div>
                    <div matLine mat-small class="scene-action-location-text">
                        {{ action.device.room.name }}
                    </div>
                    <div matLine mat-small>
                        {{ 'scene.actions' | translate }}:
                        {{ $any(action).brightness }}% ({{
                            'scene.delay' | translate
                        }}: {{ $any(action).delay }}s)
                    </div>
                    <button mat-icon-button (click)="deleteAction(action)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item
                    class="scene-action-list-item"
                    *ngIf="action.device.type == 'switch'"
                >
                    <mat-icon mat-list-icon svgIcon="custom:switch"></mat-icon>
                    <div matLine class="scene-action-device-text">
                        {{ action.device.name }}
                    </div>
                    <div matLine mat-small class="scene-action-location-text">
                        {{ action.device.room.name }}
                    </div>
                    <div matLine mat-small>
                        {{ 'scene.actions' | translate }}:
                        {{
                            $any(action).power
                                ? ('scene.on' | translate)
                                : ('scene.off' | translate)
                        }}
                    </div>
                    <button mat-icon-button (click)="deleteAction(action)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item
                    class="scene-action-list-item"
                    *ngIf="action.device.type == 'motor'"
                >
                    <mat-icon mat-list-icon svgIcon="custom:curtain"></mat-icon>
                    <div matLine class="scene-action-device-text">
                        {{ action.device.name }}
                    </div>
                    <div matLine mat-small class="scene-action-location-text">
                        {{ action.device.room.name }}
                    </div>
                    <div matLine mat-small>
                        {{ 'scene.actions' | translate }}:
                        {{ getMotorAction($any(action).action) | translate }}
                    </div>
                    <button mat-icon-button (click)="deleteAction(action)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
    </div>
</div>
