.custom-slider {
    --c: #fff455; // active color
    --g: 8px; // gap
    --l: 3vh; // line thickness
    --s: 3.5vh; // thumb size

    --_c: color-mix(in srgb, --c, #000, var(--p, 0%));
    // overflow: hidden;
    // background: none;
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    height: var(--s);
    width: 100%;
    outline: none;
    background: #ccc;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    // aspect-ratio: 1;

    height: var(--s);
    width: var(--s);
    border-radius: 50%;
    transition: 0.3s;
    border: 12px solid var(--button-color);
    background: #fff455;

    // box-shadow: 0 0 0 var(--b, var(--s)) inset var(--c);
    // border-image: linear-gradient(90deg, var(--c) 50%, #ababab 0);
    // border-image-slice: 0 1; // top and bottom | left and right
    // border-image-width: calc(50% - var(--l) / 2) 100vw; // top and bottom | left and right
    // border-image-outset: 0 calc(100vw + var(--g)); // top and bottom | left and right
}

input[type='range' i]:active::-webkit-slider-thumb,
input[type='range' i]:focus-visible::-webkit-slider-thumb {
    --b: var(--s);
}

input[type='range' i]:hover::-webkit-slider-thumb,
input[type='range' i]:focus-visible::-webkit-slider-thumb {
    --p: 25%;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    // aspect-ratio: 1;

    height: var(--s);
    width: var(--s);
    border-radius: 50%;
    transition: 0.3s;
    border: 10px solid var(--button-color);
    background: #fff455;

    // box-shadow: 0 0 0 var(--b, var(--s)) inset var(--c);
    // border-image: linear-gradient(90deg, var(--c) 50%, #ababab 0);
    // border-image-slice: 0 1; // top and bottom | left and right
    // border-image-width: calc(50% - var(--l) / 2) 100vw; // top and bottom | left and right
    // border-image-outset: 0 calc(100vw + var(--g)); // top and bottom | left and right
}

input[type='range' i]:active::-moz-range-thumb,
input[type='range' i]:focus-visible::-moz-range-thumb {
    --b: var(--s);
}

input[type='range' i]:hover::-moz-range-thumb,
input[type='range' i]:focus-visible::-moz-range-thumb {
    --p: 25%;
}

@supports not (color: color-mix(in srgb, red, red)) {
    input {
        --_c: var(--c); /* if no support we keep the color as defined */
    }
}
