.video-button-bar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(70px 90px);

    .video-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--button-color);
        padding: 1vh 1vw 1vh 1vw;
        color: var(--text-color);
        border: 3px solid var(--background-color);
        flex: 1;
        border-radius: 5px;
        box-shadow: var(--button-shadow-color) 0px 3px 8px;
        cursor: pointer;
        user-select: none;
    }

    .video-button:active {
        background-color: var(--selected-button-color);
        color: var(--selected-button-text-color);
    }

    .icon {
        transform: scale(1.5);
    }

    .unused {
        background-color: var(--unused-button-color);
        box-shadow: var(--button-shadow-color) 0px 3px 8px;

        mat-icon {
            visibility: hidden;
        }
    }
}