<div class="ac-control-panel-container">
    <div class="ac-status-container">
        <div class="ac-name">{{ ac.name }}</div>
        <div class="ac-room-temperature">{{ ac.roomTemperature }}°C</div>
    </div>
    <div class="ac-temperature-container">
        <div class="ac-temperature-control-title">Set</div>
        <div class="ac-temperature-control">
            <div class="ac-set-temperature">
                <div>{{ ac.setTemperature }}°C</div>
            </div>
            <app-rounded-icon-button
                [isSvgIcon]="true"
                iconName="custom:remove"
                class="ac-temperature-control-button"
                (onClick)="decrementTemperature()"
                size="1.5vh"
            ></app-rounded-icon-button>
            <app-rounded-icon-button
                [isSvgIcon]="true"
                iconName="custom:add"
                class="ac-temperature-control-button"
                (onClick)="incrementTemperature()"
                size="1.5vh"
            ></app-rounded-icon-button>
        </div>
    </div>
    <div class="ac-advanced-control-container">
        <div
            class="ac-advanced-control-title"
            (click)="toggleShowAdvancedMenu()"
        >
            <div>MODE & FAN</div>
            <mat-icon>expand_more</mat-icon>
        </div>
        <div [@openClose]="showAdvancedMenu ? 'open' : 'closed'">
            <div class="ac-advanced-control-panel">
                <mat-divider></mat-divider>
                <div class="ac-advanced-control-label">MODE</div>
                <div class="ac-advanced-control-options">
                    <div
                        class="ac-advanced-control-option"
                        [class.selected]="mode === ac.mode"
                        *ngFor="let mode of ac.modeAvailable"
                        (click)="changeMode(mode)"
                    >
                        <div>
                            {{ mode | uppercase }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ac-advanced-control-panel">
                <div class="ac-advanced-control-label">FAN</div>
                <div class="ac-advanced-control-options">
                    <div
                        class="ac-advanced-control-option"
                        [class.selected]="mode === ac.fan"
                        *ngFor="let mode of ac.fanAvailable"
                        (click)="changeFan(mode)"
                    >
                        <div>{{ mode | uppercase }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>
