@use '../../../theme/color.scss' as color;

.av-remote-background {
    width: 100%;
    min-height: 100%;
    background-color: var(--background-color);
}

.middle-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    >* {
        padding: 10px;
    }

    .unused-container {
        flex: 1;

        div {
            height: 100%;
            background-color: color.$unused-button-color;
            border-radius: 5px;
            box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
        }
    }
}

.bottom-row {
    color: color.$text-color;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    >* {
        padding: 10px;
    }


    .unused-button-container {
        flex: 1;

        div {
            height: 100%;
            background-color: color.$unused-button-color;
            border-radius: 5px;
            box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
        }
    }
}

@media (min-width: 600px) and (max-width: 839.99px) and (orientation: portrait) {
    .portrait-main-container {
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }

    .volume-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        >* {
            padding: 10px;
        }

        .volume-slider {
            flex: 1;
        }

        .mute-button {
            flex: 0;
        }
    }

    .volume-button-group {
        flex: 0;
    }

    .media-keypad {
        flex: 0;
    }

    .dpad {
        flex: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .number-keypad {
        flex: 0;
    }

    .function-button {
        flex: 1;
    }
}

@media (min-width: 960px) and (max-width: 1279.99px) and (orientation: landscape) {
    .volume-button-group {
        flex: 1;
    }

    .media-keypad {
        flex: 3;
    }

    .dpad {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .number-keypad {
        flex: 3
    }

    .mute-button {
        flex: 1;
    }

    .volume-slider {
        flex: 6;
    }

    .function-button {
        flex: 1;
    }
}