<div class="av-remote-background">
    <app-av-option-bar
        [fontSize]="breakpoint === Breakpoint.Mobile ? 15 : 20"
    ></app-av-option-bar>

    <div [ngSwitch]="breakpoint">
        <ng-container *ngSwitchCase="Breakpoint.TabletLandscape">
            <app-av-remote-landscape></app-av-remote-landscape>
        </ng-container>
        <ng-container *ngSwitchCase="Breakpoint.TabletPortrait">
            <app-av-remote-portrait></app-av-remote-portrait>
        </ng-container>
        <ng-container *ngSwitchCase="Breakpoint.Mobile">
            <app-av-remote-mobile></app-av-remote-mobile>
        </ng-container>
    </div>
</div>
