.lighting-control-container {
    background-color: var(--background-color);
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    > * {
        flex: 0 1 400px;
        margin: 1vh 1vw 1vh 1vw;
    }
}
