.portrait-main-container {
    .portrait-main-wrapper {
        width: 100%;

        .middle-row,
        .keypad-row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;

            > * {
                padding: 10px;
            }

            .number-keypad {
                flex: 1;
            }

            .media-keypad {
                flex: 1;
            }
        }
    }

    .bottom-row {
        color: var(--text-color);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;

        > * {
            padding: 10px;
        }

        .unused-button-container {
            flex: 1;

            div {
                height: 100%;
                background-color: var(--unused-button-color);
                border-radius: 5px;
                box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
            }
        }
    }

    .portrait-main-container {
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }

    .media-keypad {
        flex: 0;
    }

    .dpad {
        flex: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .number-keypad {
        flex: 0;
    }

    .function-button {
        flex: 1;
    }
}
