<div class="portrait-main-container">
    <div class="portrait-main-wrapper">
        <div class="middle-row">
            <app-media-keypad class="media-keypad"></app-media-keypad>
            <app-number-keypad class="number-keypad"></app-number-keypad>
        </div>
        <div class="middle-row">
            <app-updown-button-group
                class="volume-button-group"
                label="VOL"
            ></app-updown-button-group>
            <app-updown-button-group
                class="channel-button-group"
                label="CH"
            ></app-updown-button-group>
            <app-av-custom-dpad></app-av-custom-dpad>
        </div>
    </div>
</div>

<div class="bottom-row">
    <app-icon-button icon="volume_off" class="mute-button"></app-icon-button>
    <app-function-button
        backgroundColor="#DF0404"
        class="function-button"
    ></app-function-button>
    <app-function-button
        backgroundColor="#FAD301"
        class="function-button"
    ></app-function-button>
    <app-function-button
        backgroundColor="#5F8F4B"
        class="function-button"
    ></app-function-button>
    <app-function-button
        backgroundColor="#6A8BA3"
        class="function-button"
    ></app-function-button>
</div>
