<div class="av-remote-landscape-container">
    <app-av-option-bar [fontSize]="20" [av]="av"></app-av-option-bar>
    <div class="middle-row">
        <app-updown-button-group
            class="volume-button-group"
            label="VOL"
            (onUpButtonCilck)="pulse(av?.volumeUp)"
            (onDownButtonClick)="pulse(av?.volumeDown)"
        ></app-updown-button-group>
        <app-media-keypad class="media-keypad" [av]="av"></app-media-keypad>
        <div class="dpad-container">
            <app-av-custom-dpad
                class="dpad"
                [size]="250"
                [av]="av"
            ></app-av-custom-dpad>
        </div>
        <app-number-keypad class="number-keypad" [av]="av"></app-number-keypad>
        <app-updown-button-group
            class="channel-button-group"
            label="CH"
            (onUpButtonCilck)="pulse(av?.channelUp)"
            (onDownButtonClick)="pulse(av?.channelDown)"
        ></app-updown-button-group>
    </div>

    <div class="bottom-row">
        <app-icon-button
            icon="volume_off"
            class="mute-button"
            (onClick)="pulse(av?.mute)"
        ></app-icon-button>
        <app-function-button
            backgroundColor="#DF0404"
            class="function-button"
            (onClick)="pulse(av?.red)"
        ></app-function-button>
        <app-function-button
            backgroundColor="#FAD301"
            class="function-button"
            (onClick)="pulse(av?.yellow)"
        ></app-function-button>
        <app-function-button
            backgroundColor="#5F8F4B"
            class="function-button"
            (onClick)="pulse(av?.green)"
        ></app-function-button>
        <app-function-button
            backgroundColor="#6A8BA3"
            class="function-button"
            (onClick)="pulse(av?.cyan)"
        ></app-function-button>
        <div class="unused-button-container">
            <div></div>
        </div>
    </div>
</div>
