/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'themes';

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page-title {
    font-weight: 500;
    font-size: large;
}

.page-title-container {
    margin: 10px;
}

.edit-name-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.custom-modalbox > mat-dialog-container {
    background-color: var(--background-color);
}
