<mat-toolbar class="app-toolbar">
    <div class="app-toolbar-content-container">
        <div class="app-toolbar-title-container">
            <button
                mat-icon-button
                *ngIf="(history$ | async).length > 0"
                (click)="back()"
            >
                <mat-icon
                    svgIcon="custom:back"
                    style="height: 3vh; width: 3vh"
                ></mat-icon>
            </button>
            <span>
                {{ 'header.title' | translate }}
            </span>
        </div>
        <div class="dark-mode-toggle-container">
            <mat-icon>dark_mode</mat-icon>
            <mat-slide-toggle
                class="dark-mode-toggle"
                [checked]="darkModeEnabled"
                (change)="onThemeChanged($event)"
            ></mat-slide-toggle>
        </div>
    </div>
</mat-toolbar>
