.app-toolbar {
    height: 10vh;
    font-size: 3vh;
    background-color: var(--secondary-background-color);

    .app-toolbar-title-container {
        display: flex;
        justify-content: center;
        > * {
            padding: 0em 0.5em 0em 0.5em;
        }
    }

    .app-toolbar-content-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: var(--text-color);

        .dark-mode-toggle-container {
            display: flex;
            align-items: center;

            .dark-mode-toggle {
                padding-left: 10px;
            }
        }
    }
}
