.app-toolbar {
    height: 10vh;
    font-size: 3vh;
    background-color: var(--secondary-background-color);

    .app-toolbar-content-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        color: var(--text-color);

        .icon-button {
            user-select: none;
            cursor: pointer;
        }

        .app-toolbar-room-selection-bar {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}