<form [formGroup]="formGroup" (ngSubmit)="addScene()">
    <p class="dimmer-title">{{ 'scene.brightness' | translate }}</p>
    <div class="dimmer-slider-wrapper">
        <mat-slider
            min="0"
            max="100"
            step="1"
            [value]="sliderValue"
            (change)="onSliderChange($event?.value)"
            (input)="onSliderChange($event?.value)"
        ></mat-slider>
        <mat-slide-toggle
            (toggleChange)="onToggleChange()"
            [checked]="powerState"
        ></mat-slide-toggle>
        <p class="slider-value-text">{{ sliderValue }}%</p>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'scene.fade' | translate }}</mat-label>
            <input
                matInput
                type="number"
                inputmode="numeric"
                min="0"
                required
                [defaultValue]="2"
                formControlName="fade"
            />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'scene.delay' | translate }}</mat-label>
            <input
                matInput
                type="number"
                min="0"
                inputmode="numeric"
                required
                [defaultValue]="0"
                formControlName="delay"
            />
        </mat-form-field>
    </div>
    <div>
        <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!formGroup.valid"
        >
            {{ 'scene.save' | translate }}
        </button>
    </div>
</form>
