.dimmer-slider-wrapper {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.slider-value-text {
    height: 100%;
    margin: 0px;
}

.dimmer-title {
    font-weight: 500;
}
