.page-nav-child-selected {
    background: rgb(209, 255, 253);
}

.page-nav-child {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.page-nav-child > * {
    margin-right: 10px;
}
