.page-nav-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(132, 0, 255);
    padding: 3px;
    color: rgb(168, 168, 168);
}

.page-nav-child-selected {
    color: white;
}

.nav-child-text {
    margin: 0px;
}
