.page-nav-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--button-color);
    padding: 3px;
    color: var(--text-color);
}

.page-nav-child-selected {
    color: var(--selected-color);
}

.nav-child-text {
    margin: 0px;
}