.ac-control-container {
    background: linear-gradient(
        var(--background-color),
        var(--secondary-background-color)
    );
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
