<div
    class="device-tile-container"
    [ngSwitch]="category"
    (click)="navigate(category)"
>
    <ng-container *ngSwitchCase="DeviceCategory.Lighting">
        <mat-icon svgIcon="custom:lighting" class="device-tile-icon"></mat-icon>
        <div class="device-tile-text">Lighting</div>
    </ng-container>
    <ng-container *ngSwitchCase="DeviceCategory.Curtain">
        <mat-icon svgIcon="custom:curtain" class="device-tile-icon"></mat-icon>
        <div class="device-tile-text">Curtain</div>
    </ng-container>
    <ng-container *ngSwitchCase="DeviceCategory.Ac">
        <mat-icon svgIcon="custom:ac" class="device-tile-icon"></mat-icon>
        <div class="device-tile-text">Comfort</div>
    </ng-container>
    <ng-container *ngSwitchCase="DeviceCategory.Av">
        <mat-icon svgIcon="custom:av" class="device-tile-icon"></mat-icon>
        <div class="device-tile-text">Watch</div>
    </ng-container>
    <ng-container *ngSwitchCase="DeviceCategory.Settings">
        <mat-icon svgIcon="custom:settings" class="device-tile-icon"></mat-icon>
        <div class="device-tile-text">Settings</div>
    </ng-container>
</div>
